@{
    ViewBag.Title = "About";
    ViewBag.Message = "Welcome to Our Project!";
}

<main aria-labelledby="title" id="about_main">
    <h3 id="about_h3">@ViewBag.Message</h3>

    <p id="about_p">Our project aims to revolutionize healthcare by providing innovative solutions to streamline patient care, enhance doctor-patient communication, and improve overall efficiency in medical facilities.</p>

    <p id="about_p">With our platform, healthcare professionals can manage patient records, appointments, and medical procedures seamlessly. Patients can access their health information, schedule appointments online, and receive personalized care.</p>

    <p id="about_p">Our team is dedicated to creating user-friendly, secure, and reliable software solutions that empower healthcare providers and patients alike.</p>
</main>
