﻿﻿@model IEnumerable<MedLinked.Models.MedicalProcedureDto>
@{
    ViewBag.Title = "List";
}
<div class="title">
    <h2>MedicalProcedures List</h2>
    <a class="btn btn-primary" href="/MedicalProcedure/New">+ New MedicalProcedure</a>

</div>

<div class="container patient_list_container">
    <!--For each customers in our model-->
    @foreach (var MedicalProcedure in Model)
    {
        <!-- Bootstrap card for each customer -->
        <div class="card mb-3 list_card hover-effect">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <!-- Heading with a link to the customer details page -->
                        <h3 class="card-title fs-4 text-uppercase mb-3 font-weight-bold">@MedicalProcedure.MedicalProcedureName </h3>
                        <!-- Customer's email -->
                        <p class="card-text lh-1"><strong>Date:</strong> @MedicalProcedure.MedicalProcedureDate</p>
                        <p class="card-text lh-1"><strong>Location:</strong> @MedicalProcedure.MedicalCenter</p>
                        @*
                            <p class="card-text lh-1"><strong>Specialization:</strong> @Doctor.DoctorSpecialization</p>*@

                    </div>
                    <div class="col-sm-4 d-flex justify-content-end flex-column">
                     
                        
                        <a class="btn btn-primary mt-2 d-flex justify-content-between align-content-center" href="/MedicalProcedure/Details/@MedicalProcedure.MedicalProcedureID">details <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
