﻿﻿

@{
    ViewBag.Title = "Create";
}

<h2>Create Medical Procedure</h2>
<form action="/MedicalProcedure/Create" method="POST">
    <div>
        <label>Medical Procedure:</label> <input type="text" name="MedicalProcedureName" />
    </div>
    <div>
        <label>Medical Center:</label> <input type="text" name="MedicalCenter" />
    </div>
    <div>
        <label>Date:</label> <input type="datetime" name="MedicalProcedureDate" />
    </div>
    <div>
        <label>Cost:</label> <input type="number" name="MedicalProcedureCost" />
    </div>
    <div>
        <input type="submit" value="Create MedicalProcedure" />

    </div>
</form>