﻿﻿@model IEnumerable<MedLinked.Models.PatientDto>
@{
    ViewBag.Title = "Patients";
}


<div class="title list_title">
    <h2>Patients List</h2>
    <a class="btn btn-primary" href="/Patient/New">+ New Patient</a>
</div>

<div class="container d-grid grid-col-2 patient_list_container">
    <!--For each customers in our model-->
    @foreach (var Patient in Model)
    {
        <!-- Bootstrap card for each customer -->
        <div class="card mb-3 list_card hover-effect">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <!-- Heading with a link to the customer details page -->
                        <h3 class="card-title fs-4 text-uppercase mb-3 font-weight-bold">@Patient.PatientFirstName @Patient.PatientLastName</h3>
                        <!-- Customer's email -->
                        <p class="card-text lh-1"><strong>Email:</strong> @Patient.PatientEmail</p>
                        <p class="card-text lh-1"><strong>Phone:</strong> @Patient.PatientPhone</p>
                    </div>
                    <div class="col-sm-4">
                        <!-- Image  -->
                        <img src="~/Content/images/medlinked_pp.jpg" alt="Patient Image" class="img-fluid rounded">
                        <a class="btn btn-primary mt-2 d-flex justify-content-between align-content-center" href="/Patient/Details/@Patient.PatientID">details <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
