﻿﻿@model IEnumerable<MedLinked.Models.PatientDto>
@{
    ViewBag.Title = "Patients";
}


<div class="title patients_list_title">
    <h2>Patients List</h2>
    <a class="btn btn-primary" href="/Patient/New">+ New Patient</a>
</div>

<div class="container patient_list_container">
    <!--For each customers in our model-->
    @foreach (var Patient in Model)
    {
        <!-- Bootstrap card for each customer -->
        <div class="card mb-3 patient_list_card hover-effect">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <!-- Heading with a link to the customer details page -->
                        <h4 class="card-title"><a class="btn btn-primary" href="/Patient/Details/@Patient.PatientID">@Patient.PatientFirstName @Patient.PatientLastName</a></h4>
                        <!-- Customer's email -->
                        <p class="card-text pb-2">Email: @Patient.PatientEmail</p>
                    </div>
                    <div class="col-sm-4">
                        <!-- Image (add your image here) -->
                        <img src="~/Content/images/medlinked_pp.jpg" alt="Patient Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    }
</div>
